/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* MENU NAV */
nav ul li{
    display: inline-block;
    margin:10px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    list-style: none;
    background-color: white;
    border-radius: 50%;
}

nav ul li a{
    text-decoration: none;
    color:black;
}

nav{
    position: fixed;
    top:20px;
    right: 20px;
    z-index: 10;
}

/* SECTIONS */
section{
    position: relative;
    height:100vh;
    text-align: center;
    font-size: 33px;
    color:yellow;
}

#section1{
    background-color: red;
}

#section2{
    background-color: green;
}

#section3{
    background-color: yellow;
    color:green;
}

.main-container{
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
